.cvContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 20px;

  background-color: #fff;
  
  
}

.cvContent__column {
  height: 100%;
  width: 49%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  padding-right: 10px;
}


@media screen and (max-width: 940px) and (min-width: 320px) {
  .cvContent {
    padding: 2vw;
  }

  .cvContent__column {
    padding-right: 1vw;
  }
  
}

