.languages {
    width: 100%;
    height: auto;

    margin-top: 50px;
}

.languages__headline {
    width: fit-content;
    height: auto;
    border-bottom: 3px solid #449399;
    padding-bottom: 7px;
}

.languages__headline h3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #449399;
    line-height: 20px;
    text-transform: uppercase;
}

.languages__body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    margin-top: 20px;
}

.languages__body-item {
    width: 180px;
    height: auto;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    margin-bottom: 15px;
}

.languages__body-lang {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #000;
}

.languages__body-level {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: #449399;
    margin-top: 5px;
}

@media screen and (max-width: 940px) and (min-width: 320px) {
    .languages {
        margin-top: 10vw;
    }

    .languages__headline {
        padding-bottom: 1.3333vw;
    }

    .languages__headline h3 {
        font-size: 3.733333vw;
    }

    .languages__body {
        margin-top: 3.33333vw;
    }

    .languages__body-item {
        width: 39.33333vw;
        margin-bottom: 3vw;
    }

    .languages__body-lang {
        font-size: 3.9vw;
    }

    .languages__body-level {
        font-size: 3.2vw;
    }
}